entrypoint = "app/main.py"
modules = ["python-3.12", "web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "uvicorn main:app --host localhost --port 8000"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run application"

[[workflows.workflow]]
name = "Run application"
mode = "sequential"
author = 3947996

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -r requirements.txt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --reload --host localhost"
